.myCard {
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(25, 39, 52);
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 3.6em;
    color: #fff;
    margin-bottom: 0px;
  }
  h2 {
    color: #f4f4f4;
  }
  .optional {
    color: #c4c4c4;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  p {
    color: #c4c4c4;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .myCard {
    width: 90%;
    padding: 20px 15px;
  }
}
