.myCard {
  width: 450px;
  padding: 20px 0px;
  padding-bottom: 0px;
  border-radius: 4px;
  background-color: rgb(25, 39, 52);
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 3.2em;
    color: #fff;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 0px;
    color: #f4f4f4;
  }
  h3 {
    color: #e0e0e0;
  }
  .optional {
    color: #c4c4c4;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  p {
    color: #c4c4c4;
    margin-bottom: 20px;
  }
  .footerDate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #aaa;
    div {
      width: 50%;
    }
    div:first-child {
      border-right: 1px solid #aaa;
    }
    .footerDateFormat {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .myCard {
    width: 90%;
    h1 {
      font-size: 2.8em;
    }
    h2 {
      font-size: 1.4em;
    }
  }
}
